include ../components/head/head
include _assets/bemto/bemto
- set_bemto_settings({ modifier: "--" , class_delimiter :  ' | ' })
include ../components/header/header
//- include ../components/footer/footer
include ../components/connect-js/scripts
//- контент
include ../components/product-items/items-section
include ../components/product-items/item
include ../components/content/content
//- include ../components/content/block-with-img/block-with-img
//- include ../components/content/content-with-img/content-with-img
//- include ../components/content/block-for-features/block-for-features
//- include ../components/content/block-for-advantages/block-for-advantages
//- include ../components/content/block-for-articles/block-for-articles
//- include ../components/content/block-for-lists/block-for-lists
//- include ../components/content/files-for-download/files-for-download
//- формы
//- include ../components/forms/calculation-cost/calculation-cost
//- include ../components/forms/feedback/feedback
//- include ../components/forms/buy-one-click/buy-one-click
//- слайдеры
//- include ../components/sliders/tables/table
include ../components/sliders/full-slider/full-slider
//- include ../components/sliders/gallery/gallery

doctype html
html(lang="ru")
  head
    +head({
      "title": "Главная",
      "description": "Главная страница"
    })

+header()
+b.BODY.main-page
  +full-slider()
  +items-section({ 
    "section_class": "best-price",
    "data_attribute": "Лучшая цена",
    "section_title": "Лучшая цена",
    "items_index": [0, 1, 2, 3, 4, 5,6,7,8,9, 10],
    "item_picture": ["item--clock.jpg", "item--milk.jpg", "item--tonometr.jpg", "item--massage.jpg", "item--ultra.jpg", "item--clock.jpg", "item--milk.jpg", "item--tonometr.jpg", "item--massage.jpg", "item--ultra.jpg", "item--clock.jpg"],
    "item_title": ["Часы-пульсометры Beurer PM16", "Компрессорный небулайзер (ингалятор) CN-HT 05 «Джино»", "Тонометр Microlife BP A6 PC", "Массажер антицеллюлитный Cellules MD", "Ультразвуковой увлажнитель Ballu UHB-190", "Часы-пульсометры Beurer PM16", "Компрессорный небулайзер (ингалятор) CN-HT 05 «Джино»", "Тонометр Microlife BP A6 PC", "Массажер антицеллюлитный Cellules MD", "Ультразвуковой увлажнитель Ballu UHB-190","Часы-пульсометры Beurer PM16"],
    "item_price": ["3 390 р.", "3 390 р.", "5 540 р.", "5 540 р.","2 990 р.", "3 390 р.", "3 390 р.", "5 540 р.", "5 540 р.","2 990 р.", "3 390 р."]
  }) 
  +items-section({ 
    "section_class": "new-products",
    "data_attribute": "Новинка",
    "section_title": "Новинки",
    "items_index": [0, 1, 2, 3],
    "item_picture": ["item--clock.jpg", "item--ultra.jpg", "item--massage.jpg", "item--tonometr.jpg"],
    "item_title": ["Часы-пульсометры Beurer PM16", "Ультразвуковой увлажнитель Ballu UHB-190", "Массажер антицеллюлитный Cellules MD", "Тонометр Microlife BP A6 PC"],
    "item_price": ["3 390 р.", "2 390 р.", "5 540 р.", "5 540 р."]
  })
  +items-section({ 
    "section_class": "popular-products",
    "data_attribute": "Хит",
    "section_title": "Популярное",
    "items_index": [0, 1, 2, 3],
    "item_picture": ["item--tonometr.jpg", "item--massage.jpg", "item--clock.jpg","item--mesh.jpg"],
    "item_title": ["Тонометр Microlife BP A6 PC", "Массажер антицеллюлитный Cellules MD", "Часы-пульсометры Beurer PM16", "Меш-небулайзер B.Well WN-114 child"],
    "item_price": ["5 540 р.", "5 540 р.", "3 390 р.", "4 890 р."]
  })
  .content_and_social-network
    content 
      h2 о компании
      p.    
       Современный мир стал настолько стремителен и беспощаден к тем, кто отстает и не успевает. Мы настолько заняты, что нам некогда посвятить себя своему же здоровью. У нас нет времени вылечить болезнь. Мы живем на бегу. Едим на ходу. Мы даже лечимся на ходу, употребляя таблетки горстями.
      p.mobile-hide.
       Но неужели только таблетки сделают нас здоровыми? Кто-то должен сказать стоп! Кто-то должен сказать, что таблетки нужны, но не везде и не всегда. Да, мы не можем заменить все таблетки, но сократить количество и норму потребления нам удастся всегда! И разве это не здорово? Разве это не результат? Выбор есть всегда!
      p.mobile-hide.
       Аптека без таблеток — это больше, чем компания по продаже домашней медтехники, это философия здоровья без таблеток. В нашем арсенале представлено множество приборов применяемых в профессиональной медицине. Многие российские и зарубежные производители давно уже «одомашнили» и «приручили» профессиональные приборы физиолечения, сделав их доступными по цене и понятными на языке бытовой техники.
      a(href="#").classic-button.tablet-hide.desktop-hide.big-desktop-hide Подробнее
    #vk_groups
      .vk-group-label: span Мы ВКонтакте
  +banner()             

  p 123 
+scripts()    