include ../components/head/head
include _assets/bemto/bemto
- set_bemto_settings({ modifier: "--" , class_delimiter :  ' | ' })
include ../components/header/header
include ../components/footer/footer
include ../components/connect-js/scripts
//- контент
include ../components/items/items-section
include ../components/items/item
include ../components/content/content
include ../components/content/breadcrumbs/breadcrumbs
include ../components/content/rating/rating
include ../components/product/header/header
include ../components/product/description/description
include ../components/product/characteristics/characteristics
include ../components/product/files/files
include ../components/product/reviews/reviews
//- include ../components/content/block-with-img/block-with-img
//- include ../components/content/content-with-img/content-with-img
//- include ../components/content/block-for-features/block-for-features
//- include ../components/content/block-for-advantages/block-for-advantages
//- include ../components/content/block-for-articles/block-for-articles
//- include ../components/content/block-for-lists/block-for-lists
//- include ../components/content/files-for-download/files-for-download
//- формы
//- include ../components/forms/calculation-cost/calculation-cost
//- include ../components/forms/feedback/feedback
//- include ../components/forms/buy-one-click/buy-one-click
//- слайдеры
//- include ../components/sliders/tables/table
include ../components/sliders/full-slider/full-slider
//- include ../components/sliders/gallery/gallery

doctype html
html(lang="ru")
  head
    +head({
      "title": "Главная",
      "description": "Главная страница"
    })

+header()
+b.BODY.product-page
  +breadcrumbs({"index": [0, 1, 2, 3],
    "title": ["Главная", "Каталог", "Диагностика организма", 
    "Тонометры"]
  })
  
  h1 Тонометры

  //- +product-header() 
  product-grid
    +product-description()
    +product-characteristics()
    +product-files()
  
    +product-reviews({
      "product_index": [0, 1],
      "author": ["Константин", "Валерий"],
      "date": ["28.06.2017", "28.06.2017"],
      "advantages": ["с первого применения прекратились боли в шее и пояснице", "Хороший пластик, шарик удобно держать в руках. Понравились пружинки для массажа пальцев. Хорошая штука для массажа рук."],
      "limitations": ["цена жутко завышена! якобы 'по акции' он по 500 рублей был, надо было мне сперва погуглить, а я сразу взяла, о чем теперь сожалею, на сайте официального распространителя в каталоге он 170 рублей стоит!", "Екатерина"],
      "distribution": ["-1", "1", "0", "0", "3", "17"],
      "total_votes": "21"
    })
  
  +items-section({ 
    "section_class": "popular-products blue",
    "data_attribute": "Хит",
    "section_title": "C этим товаром покупают",
    "items_index": [0, 1, 2, 3, 4],
    "item_picture": ["item--clock.jpg", "item--milk.jpg", "item--tonometr.jpg", "item--massage.jpg", "item--ultra.jpg"],
    "item_title": ["Часы-пульсометры Beurer PM16", "Компрессорный небулайзер (ингалятор) CN-HT 05 «Джино»", "Тонометр Microlife BP A6 PC", "Массажер антицеллюлитный Cellules MD", "Ультразвуковой увлажнитель Ballu UHB-190"],
    "item_price": ["3 390 р.", "3 990 р.", "5 540 р.", "5 540 р.", "2 990 р." ]
  })
  +items-section({ 
    "section_class": "popular-products purple",
    "data_attribute": "Хит",
    "section_title": "Вы смотрели",
    "items_index": [0, 1, 2, 3, 4],
    "item_picture": ["item--clock.jpg", "item--milk.jpg", "item--tonometr.jpg", "item--massage.jpg", "item--ultra.jpg"],
    "item_title": ["Часы-пульсометры Beurer PM16", "Компрессорный небулайзер (ингалятор) CN-HT 05 «Джино»", "Тонометр Microlife BP A6 PC", "Массажер антицеллюлитный Cellules MD", "Ультразвуковой увлажнитель Ballu UHB-190"],
    "item_price": ["3 390 р.", "3 990 р.", "5 540 р.", "5 540 р.", "2 990 р." ]
  }) 
   
  +banner()
  +footer()             
  
+scripts()    