block-for-toggles {
  display: flex;
  border-top: 1px solid #e1e1e1;
  padding-top: 19px;
  padding-bottom: 13px;
  padding-left: 22px;
  padding-right: 22px;

  @media (min-width: $tablet) {
    background: $white;
    justify-content: space-between;
    padding-top: 29px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 37px;
  }

  @media (min-width: $desktop) {
    padding-right: 41px;
  }

  @media (min-width: $big-desktop) {
    padding-right: 28px;
  }

  sort-mode {
    display: flex;

    & > div {
      display: flex;
      align-items: center;
      font-size: 16px;
      line-height: 18px;
      color: #9b9b9b;
      cursor: pointer;

      &.active {
        color: $black;
      }

      & + * {
        margin-left: 38px;
      }
    }

    .price {
      &::after {
        content: "";
        display: block;
        background-repeat: no-repeat;
        background-position: 50%;
        width: 10px;
        height: 6px;
        margin-left: 7px;
      }
    }
  }
  view-mode {
    display: none;

    @media (min-width: $tablet) {
      display: flex;
      align-items: center;
    }

    & > div {
      cursor: pointer;
      background-repeat: no-repeat;
      background-position: 50%;

      & + div {
        margin-left: 30px;
      }
    }
    .list-mode,
    .table-mode {
      width: 20px;
      height: 20px;
    }
  }
}
