mixin product-slider()
  product-slider
    .labels-container
      .label.best-price
      .label.new-products
    ul.product-slider-container
      li(data-thumb="img/content/product--mini--1.jpg") 
        img(src="img/content/product.jpg")
      li(data-thumb="img/content/product--mini--2.jpg") 
        img(src="img/content/product.jpg")
      li(data-thumb="img/content/product--mini--3.jpg")
        img(src="img/content/product.jpg")
      li(data-thumb="img/content/product--mini--4.jpg")
        img(src="img/content/product.jpg")