mixin product-header()
  product-header
    product-slider
    product-characteristics-list
      feature
        description Производитель:
        value B.Well
      feature
        description Место наложения манжеты:
        value Плечо
      feature
        description Размер манжеты:
        value от 22 до 42 см
      feature
        description Питание:
        value 4 элемента типа ААА, от сети 220В
      feature
        description Возможность подключения адаптера: 
        value Да
      feature
        description Наличие адаптера в комплекте:
        value Да
      feature
        description Наличие стетоскопа:
        value Нет
      a(href="#") Все характеристики  