mixin product-header()
  product-header(name="product-header")
    +product-slider
    product-characteristics-list
      feature
        description Производитель:
        value B.Well
      feature
        description Место наложения манжеты:
        value Плечо
      feature
        description Размер манжеты:
        value от 22 до 42 см
      feature
        description Питание:
        value 4 элемента типа ААА, от сети 220В
      feature
        description Возможность подключения адаптера: 
        value Да
      feature
        description Наличие адаптера в комплекте:
        value Да
      feature
        description Наличие стетоскопа:
        value Нет
      a(href="#product-header").show-more Все характеристики
    product-information 
      .price
        p 2 634 р.
        p.old 18 199 р.
      .classic-button.add-to-cart Купить
      .buy-one-click Купить в один клик
      +rating("-header-item", 4)
      .add-to-compare 
      .product-in-stock: p В наличии 
      .delivery-product
        .delivery-product-title: p Доставка курьером
        p Сегодня, уже через 3 часа, 300 руб.
        p Завтра и позже, бесплатно
        h6 Самовывоз из 2 магазинов
        p  Сегодня и позже, бесплатно
