block-for-filters {
  display: block;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  padding-top: 12px;

  @media (min-width: $tablet) {
    background: $white;
    padding-bottom: 49px;
  }

  & > button {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 275px;
    padding-top: 12px;
    padding-bottom: 15px;
    justify-content: center;
    padding-right: 15px;
    color: $gold;
    font-size: 18px;
    line-height: 21px;
    border: 1px solid $light-black;
    border-radius: 60px;
    background: $light-black;
    cursor: pointer;
    outline: none;
    margin-bottom: 17px;

    @media (min-width: $tablet) {
      display: none;
    }

    &:hover {
      @media (min-width: $desktop) {
        border-color: $gold;
        background: $gold;
        color: $light-black;
      }
    }
  }

  current-filters {
    display: flex;
    flex-wrap: wrap;
    padding-top: 19px;
    padding-bottom: 23px;
    padding-left: 22px;
    padding-right: 22px;
    background: $white;

    @media (min-width: $tablet) {
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 7px;
      padding-bottom: 20px;
    }

    & > p {
      width: 100%;
      color: $black;
      font-size: 18px;
      line-height: 21px;
      margin-bottom: 21px;

      @media (min-width: $tablet) {
        margin-bottom: 20px;
      }
    }

    #resetFiltersLink {
      display: flex;
      align-items: center;
      color: $black;
      font-size: 14px;
      line-height: 16px;
      cursor: pointer;

      @media (min-width: $tablet) {
        width: 100%;
        margin-top: 23px;
        font-size: 15px;
      }

      @media (min-width: $big-desktop) {
        width: auto;
        margin-top: 0;
        font-size: 14px;
      }

      span {
        display: none;

        @media (min-width: $tablet) {
          display: inline;
        }

        @media (min-width: $big-desktop) {
          display: none;
        }
      }

      &::after {
        content: "";
        display: block;
        width: 14px;
        height: 13px;
        margin-left: 18px;
        background-repeat: no-repeat;
        background-position: 50%;

        @media (min-width: $tablet) {
          height: 14px;
          margin-left: 13px;
          margin-top: -3px;
        }
      }
    }
  }

  .current-filters-block {
    display: flex;
    flex-wrap: wrap;
    margin-right: 20px;

    @media (min-width: $big-desktop) {
      margin-right: 10px;
    }

    label {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $white;
      border: 1px solid #8ccaaa;
      border-radius: 4px;
      background: #8ccaaa;
      font-size: 14px;
      line-height: 17px;
      height: 40px;
      padding-left: 13px;
      padding-right: 13px;
      cursor: pointer;

      @media (min-width: $tablet) {
        padding-left: 12px;
        padding-right: 12px;
      }

      & + label {
        margin-left: 9px;

        @media (min-width: $tablet) {
          margin-left: 11px;
        }
      }

      &:hover {
        border-color: $gold;
        color: $gold;
      }
    }
  }

  filters-button {
    display: flex;
    width: 100%;
    border-top: 1px solid #e1e1e1;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 20px;
    padding-bottom: 20px;

    @media (min-width: $tablet) {
      padding-left: 20px;
      padding-right: 20px;
    }

    #showResultsButton {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background: $gold;
      border: 1px solid $gold;
      border-radius: 60px;
      height: 50px;
      padding: 0 20px;
      width: 165px;
      margin-right: auto;

      @media (min-width: $tablet) {
        width: 100%;
      }

      p {
        text-transform: uppercase;
        font-weight: $PTSansBold;
        color: $white;
        font-size: 14px;
        line-height: 16px;
      }
    }

    #resetAllButton {
      display: inline-flex;
      align-items: center;

      @media (min-width: $tablet) {
        display: none;
      }

      p {
        color: $black;
        font-size: 15px;
        line-height: 16px;
      }

      &::after {
        content: "";
        display: block;
        background-position: 50%;
        background-repeat: no-repeat;
        width: 14px;
        height: 14px;
        margin-left: 14px;
      }
    }
  }
}

block-for-filters:not(.active) {
  @media (max-width: 767px) {
    current-filters ~ * {
      display: none;
    }
  }

  @media (min-width: $tablet) {
    & > * {
      opacity: 0;
    }
  }
}

block-for-filters.active {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  background: $white;
  padding-top: 27px;

  @media (max-width: 767px) {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    overflow-y: scroll;
  }

  @media (min-width: $tablet) {
    padding-top: 12px;
  }

  &::before {
    content: "Фильтры";
    display: inline-flex;
    font-size: 24px;
    line-height: 29px;
    color: $light-black;
    margin-left: 22px;

    @media (min-width: $tablet) {
      content: none;
    }
  }

  & > button {
    width: 50px;
    height: 50px;
    display: inline-flex;
    font-size: 0;
    background: transparent;
    border: none;
    border-radius: 0;
    background-repeat: no-repeat;
    background-position: 50%;
    background-origin: content-box;
    padding: 16px;
    margin-left: 0;
    margin-right: 7px;
    margin-top: -13px;

    @media (min-width: $tablet) {
      display: none;
    }
  }

  current-filters {
    margin-top: 6px;
    border-top: 1px solid #e1e1e1;
    padding-bottom: 21px;

    @media (min-width: $tablet) {
      border-top: none;
      margin-top: 0;
    }

    #resetFiltersLink {
      width: 100%;
      margin-top: 22px;
      font-size: 15px;

      &::after {
        margin-left: 14px;
      }

      span {
        display: inline;
      }
    }
  }

  accordion {
    border-top: 1px solid #e1e1e1;

    @media (min-width: $tablet) {
      padding-left: 20px;
      padding-right: 20px;
    }

    accordion-content {
      margin-top: 13px;
      padding-top: 8px;
    }

    .range__min-value,
    .range__max-value {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border: 1px solid $grey;
      border-radius: 60px;
      height: 50px;
      min-width: 94px;
      padding: 0px 12px;

      p,
      &::before {
        font-size: 14px;
        line-height: 17px;
        color: $black;
      }

      &::before {
        margin-right: 7px;
      }
    }

    .range__min-value {
      margin-right: 10px;

      @media (min-width: $tablet) {
        margin-left: -1px;
        margin-right: 0;
      }

      &::before {
        content: "от";
      }
    }

    .range__max-value {
      @media (min-width: $tablet) {
        margin-right: -9px;
        margin-left: 9px;
      }

      &::before {
        content: "до";
      }
    }

    .range-min-max {
      height: 3px;
      background: #d8d8d8;
      border: none;
      margin-bottom: 25px;
      max-width: 64.13%;
      min-width: 170px;
      margin-left: 6px;

      &:first-child {
        margin-top: 7px;
      }
    }

    .ui-slider-handle {
      background: $gold;
      border-radius: 50%;
      width: 32px;
      height: 32px;
      top: 50%;
      border: none;
      transform: translateY(-50%);
      outline: none;
    }

    .ui-slider-range {
      background: $light-black;
    }

    checkbox {
      margin-left: 2px;
    }
  }
}