mixin product-description()
  product-description(name="product-description")
    h2 описание
    p.
      Автоматический тонометр с функцией выявления риска инсульта. Тонометр «BP A6 PC» оснащен уникальной Afib-технологией, которая выявляет риски возникновения инсульта.Другое достоинство прибора – наличие МАМ-технологии, позволяющей автоматически проводить три последовательных измерения, не снимая манжеты. Клинические испытания показали, что тонометр «BP A6 PC» позволяет измерять артериальное давление с высокой воспроизводимостью результатов даже у пациентов с мерцательной аритмией, что является непревзойденным показателем точности. Прибор оснащен технологией Gentle+ - это новейший алгоритм накачки давления в манжету, необходимого для точного и комфортного процесса измерения.Тонометр «BP A6 PC» оснащен памятью на 99 измерений. В его комплект входит жесткая конусообразная манжета (22-42 см) и сетевой адаптер. Прибор может даже подключаться к персональному компьютеру, имеет большой дисплей.
    .product-description__button
      a(href="#product-description").classic-button.show-more.tablet-hide.desktop-hide.big-desktop-hide Показать ещё

    h3 отличительные особенности
    ul
      li: p Высший класс точности А/А.
      li: p Afib-технология выявляет риски инсульта.
      li: p МАМ-технология для более точного результата.
      li: p Технология Gentle+, обеспечивающая комфорт процедуры.
      li: p Память на 99 измерений для двух пользователей.
      li: p Дата и время.
      li: p Жесткая конусообразная манжета (22-42 см).
      li: p USB порт.
      li: p Подставка для хранения прибора и манжеты.
      li: p Индикация уровня артериального давления.
      li: p Индикация правильности надевания манжеты.
      li: p Индикация движения руки.
      li: p Сетевой адаптер в комплекте.