@media (max-width: 767px) {
  select {
    display: flex;
    align-items: center;
    position: relative;
    border: 1px solid #e1e1e1;
    height: 50px;
    border-radius: 60px;
    padding: 0 21px;
    font-size: 16px;
    color: #4a4a4a;
    background: white;
  }
}
.select {
  position: relative;
}

.select--title {
  display: flex;
  align-items: center;
  border: 1px solid #e1e1e1;
  border-radius: 60px;
  height: 50px;
  padding: 0 21px;
  font-size: 16px;
  color: #4a4a4a;
  background: white;
  position: relative;

  &::after {
    content: "";
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-position: 50%;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    position: absolute;
  }

  &.active {
    margin-bottom: 0px;
    box-shadow: 0 0 7px 0 rgba(0, 158, 77, 0.57);

    & ~ .select--body {
      display: block;
    }
  }
}

.select--title,
.select--body {
  min-width: 236px;
  width: 100%;
  max-width: 400px;
}

.select--body {
  display: none;
  position: absolute;
  top: calc(100% + 10px);
  left: 0;

  ul {
    height: auto;
    max-height: 280px;
    overflow-y: auto;
    border: 1px solid #e7e7e7;
    list-style-type: none;
    width: 100%;
    position: absolute;
    z-index: 3;
    background: #ffffff;

    li {
      cursor: pointer;

      &:first-child {
        display: none;
      }

      &:hover {
        background: $gold;
      }

      a {
        display: block;
        width: 100%;

        padding: 14px;
        font-size: 16px;
        color: #4a4a4a;
      }
    }
  }
}
