mixin scripts()
  script(src="js/jquery/jquery.min.js")
  script(src="js/components/header/header.js" async)
  //- script(src="js/lazyLoad/lazyLoad.js")  
  //- script(src="js/owl.carousel/owl.carousel.min.js")
  //- script(src="js/components/sliders/full-slider/full-slider.js" async)
  //- script(src="js/components/sliders/gallery/gallery.js" async)
  //- script(src="js/components/sliders/tables/table.js" async)
  //- script(src="js/components/select/select.js" async)