mixin scripts()
  script(src="js/jquery/jquery.min.js")
  script(src="js/components/header/header.js" async)
  //- script(src="js/lazyLoad/lazyLoad.js")  
  script(src="js/owl.carousel/owl.carousel.min.js")
  script(src="js/components/sliders/full-slider/full-slider.js" async)
  script(src="js/components/items/items-section.js" async)
  script(src="js/components/product/product.js" async)
  script(src="js/components/content/rating/rating.js" async)
  //- script(src="js/components/select/select.js" async)