mixin scripts()
  script(src="js/jquery/jquery.min.js")
  script(src="js/components/header/header.js" async)
  //- script(src="js/lazyLoad/lazyLoad.js")  
  script(src="js/owl.carousel/owl.carousel.min.js")
  script(src="js/components/sliders/full-slider/full-slider.js" async)
  script(src="js/components/product-items/items-section.js" async)
  //- script(src="js/components/sliders/gallery/gallery.js" async)
  //- script(src="js/components/sliders/tables/table.js" async)
  //- script(src="js/components/select/select.js" async)
  script(src="//vk.com/js/api/openapi.js?149")
  script.
    VK.Widgets.Group("vk_groups", {mode: 3, width: "auto",  color3: '5E81A7'}, 105166553);
