checkbox {
  display: block;
  position: relative;

  input {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    border: 0;
    padding: 0;
    opacity: 0;

    &:checked + label::before {
      background: $gold;
      border-color: $gold;
    }
  }

  label {
    display: flex;
    align-items: center;

    p {
      font-size: 14px;
      line-height: 17px;
      color: $black;
    }

    &::before {
      content: "";
      background: $white;
      border: 1px solid #9b9b9b;
      border-radius: 3px;
      width: 25px;
      height: 25px;
      min-width: 25px;
      min-height: 25px;
      box-sizing: border-box;
      margin-right: 11px;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      min-width: 25px;
      min-height: 25px;
      background-position: 50%;
      background-repeat: no-repeat;
      background-origin: content-box;
      padding: 6px;
      box-sizing: border-box;
    }
  }

  & + checkbox {
    margin-top: 14px;
  }
}
