$mobile: 320px;
$tablet: 768px;
$desktop: 1024px;
$big-desktop: 1440px;
$black: #000000;
$light-black: #4a4a4a;
$gold: #f9a61a;
$white: #ffffff;
$green: #8ccaaa;
$PTSans: 'PT Sans', sans-serif;
$PTSansRegular: 400;
$PTSansBold: 700;