$mobile: 320px;
$tablet: 768px;
$desktop: 1024px;
$big-desktop: 1440px;
$black: #000000;
$light-black: #4a4a4a;
$grey: #b7b7b7;
$gold: #f9a61a;
$white: #ffffff;
$green: #8ccaaa;
$pink: #ef6577;
$blue: #6fb0dc;
$purple: #d073b7;
$PTSans: 'PT Sans', sans-serif;
$PTSansRegular: 400;
$PTSansBold: 700;
$margin-320: 0;
$margin-768: 34px;
$margin-1024: 42px;
$margin-1440: 56px;