mixin pagination(data)
  pagination
    a(href="#catalog-block").active 1
    a(href="#catalog-block") 2
    a(href="#catalog-block") 3
    a(href="#catalog-block") 4
    a(href="#catalog-block").next 
    a(href="#catalog-block") 100