mixin rating(index, checkedElem, averageRating)
  rating-block(receive-votes=averageRating)
    each i in [5,4,3,2,1]
      if (i == checkedElem)
        input(type="radio" name="rating" + index id="star" + index + i value=i checked)
      else
        input(type="radio" name="rating" + index id="star" + index + i value=i)
      label(for="star" + index + i) 