mixin banner()
  block-for-img
    +b.block-for-pig
      +e.title. 
        Почему покупают именно у нас?
      +e.description. 
        Мы оптовая компания, поэтому мы держим в рознице невысокие цены
