.nativeMultiple {
  position: relative;
  height: 32px;
}

.nativeMultiple > div {
  height: 32px;
}

.nativeMultiple > div:last-child > div {
  right: 0;
}

.nativeMultiple input[type=range] {
  margin: 0;
  padding: 0;
  width: 100%;
  -webkit-appearance: none;
  background-color: #d8d8d8;
  height: 3px;
}

.nativeMultiple > div.nativeMultiple-one {
  overflow: hidden;
  position: absolute;
  z-index: 10;
  min-width: 32.1px;
}

.nativeMultiple > div.nativeMultiple-one input {
  background: #4a4a4a;
  height: 3px;
}

.nativeMultiple > div.nativeMultiple-two {
  position: absolute;
  width: 100%;
  z-index: 5;
}

.nativeMultiple input[type=range]:focus {
  outline: none;
}

.nativeMultiple > div,
.nativeMultiple > div > div {
  height: inherit;
}

.nativeMultiple > div,
.nativeMultiple > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/**
 * webkit
 */
.nativeMultiple input[type=range]::-webkit-slider-thumb {
  border: none;
  height: 32px;
  width: 32px;
  background: #f9a61a;
  border-radius: 50%;
  cursor: pointer;
  z-index: 20;
  -webkit-appearance: none;
  position: relative;
}

/* .nativeMultiple > div:last-child input[type=range]::-webkit-slider-thumb {
  border-left: 1px #206aa3 solid;
} */

/* .nativeMultiple input[type=range]::-webkit-slider-thumb:after,
.nativeMultiple input[type=range]::-webkit-slider-thumb:before {
  content: "";
  display: block;
  position: absolute;
  height: 20px;
  width: 1px;
  background: none repeat scroll 0% 0% #e8e7e6;
  left: 27px;
  top: 10px;
}

.nativeMultiple input[type=range]::-webkit-slider-thumb:after {
  left: 32px;
} */

/***********************************
 ************** Firefox ************
 ************************************/
.nativeMultiple input[type=range]::-moz-range-thumb {
  border: 0;
  height: 32px;
  width: 32px;
  background: #f9a61a;
  border-radius: 50%;
  cursor: pointer;
  z-index: 20;
  position: relative;
}

.nativeMultiple input[type=range]::-moz-range-track {
  background: none;
  border: none;
}


/**
 * ms
 */
/* .nativeMultiple input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 6px 0;
  color: transparent;
} */

/* .nativeMultiple input[type=range]::-ms-fill-lower {
  background: transparent;
} */

/* .nativeMultiple input[type=range]::-ms-thumb {
  border: 0;
  height: 40px;
  width: 60px;
  background: #347eb7;
  cursor: pointer;
  z-index: 20;
  position: absolute;
  top: 20px;
  border-radius: 0;
} */