mixin product-files()
  product-files
    h2 для скачивания
    product-files-block
      a(href="#" download):  description
        name Свидетельство о поверке BP A6 PC
        size PDF, 1333 KB
      a(href="#" download):  description
        name Тонометр BP A6 PC инструкция
        size PDF, 1333 KB