/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */html {
  -ms-text-size-adjust: 100%; /* 1 */
  -webkit-text-size-adjust: 100%; /* 1 */
  -webkit-tap-highlight-color: transparent; /* 2 */
  height: 100%;
}/**
 * Remove the margin in all browsers (opinionated).
 */body {
  margin: 0; /* 1 */
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
}/* HTML5 display definitions
   ========================================================================== *//**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}/**
 * Add the correct display in iOS 4-7.
 */audio:not([controls]) {
  display: none;
  height: 0;
}/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */progress {
  vertical-align: baseline;
}/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */template, [hidden] {
  display: none;
}/* Links
   ========================================================================== *//**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
  text-decoration: none;
}/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */a:active, a:hover {
  outline-width: 0;
}/* Text-level semantics
   ========================================================================== *//**
 * 1. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */abbr[title] {
  text-decoration: underline; /* 1 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 1 */
}/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */b, strong {
  font-weight: bolder;
}/**
 * Add the correct font style in Android 4.3-.
 */dfn {
  font-style: italic;
}/**
 * Add the correct font size in all browsers.
 */small {
  font-size: 80%;
}/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}sup {
  top: -0.5em;
}sub {
  bottom: -0.25em;
}/* Embedded content
   ========================================================================== *//**
 * Remove the border on images inside links in IE 10-.
 */img {
  border-style: none;
}/**
 * Hide the overflow in IE.
 */svg:not(:root) {
  overflow: hidden;
}/* Grouping content
   ========================================================================== *//**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */code, kbd, pre, samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}/**
 * 1. Contain overflow in all browsers.
 * 2. Improve readability of pre-formatted text in all browsers.
 */pre {
  overflow: auto; /* 1 */
  white-space: pre; /* 2 */
  white-space: pre-wrap; /* 2 */
  word-wrap: break-word; /* 2 */
}/* Forms
   ========================================================================== *//**
 * 1. Correct color not being inherited.
      Known issue: affects color of disabled elements.
 * 2. Change font properties to `inherit` in all browsers (opinionated).
 * 3. Remove the margin in Firefox and Safari.
 */button, input, optgroup, select, textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
  vertical-align: middle;
}/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 * 2. Show the overflow in Edge, Firefox, and IE.
 */button, input, input { /* 2 */
  overflow: visible;
}/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */button, select { /* 1 */
  text-transform: none;
}/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button; /* 2 */
}/* Re-set default cursor for disabled elements. */[disabled] {
  cursor: default;
}/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */[type="checkbox"], [type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto;
}/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}/* 1. Remove default vertical scrollbar in IE 8/9/10/11. */textarea {
  overflow: auto; /* 1 */
  resize: none;
  vertical-align: top;
}/* Don't inherit the `font-weight` (applied by a rule above).
NOTE: the default cannot safely be changed in Chrome and Safari on OS X. */optgroup {
  font-weight: bold;
}/* webkit focus outline */input, select, textarea {
  outline: 0;
}/* Android 下 input focus 消除高亮外框 */textarea, input {
  -webkit-user-modify: read-write-plaintext-only;
}input::-ms-clear, input::-ms-reveal {
  display: none;
}/**
 * placeholder text color
 */input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: inherit;
  opacity: 0.54;
}input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}/* table
   ========================================================================== *//* Remove table cell spacing and padding */table {
  border-collapse: collapse;
  border-spacing: 0;
}td, th {
  padding: 0;
}h1, h2, h3, h4, h5, h6, p, figure, form, blockquote {
  margin: 0;
}ul, ol, li, dl, dd {
  margin: 0;
  padding: 0;
}ul, ol {
  list-style: none outside none;
}h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
  line-height: 2;
}* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url('../fonts/pt-sans-regular.woff2') format('woff2');
}@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
  src: local('PT Sans Italic'), local('PTSans-Italic'), url('../fonts/pt-sans-italic.woff2') format('woff2');
}@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url('../fonts/pt-sans-700.woff2') format('woff2');
}@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 700;
  src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url('../fonts/pt-sans-700-italic.woff2') format('woff2');
}body {
  font-family: 'PT Sans',sans-serif;
  font-weight: 400;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* justify-content: space-between;*/
  /* opacity: 1;*/
  background: #ededed;
  max-width: 100vw;
  overflow-x: hidden;
}.block-html {
  overflow-y: hidden !important;
}header {
  position: relative;
  background: #ffffff;
}.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 21px;
  padding-bottom: 73px;
  padding-left: 23px;
  padding-right: 22px;
}.header__logo {
  display: block;
  width: 80px;
  height: 35px;
  background-repeat: no-repeat;
  margin-right: auto;
}.header-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 38px;
  margin-right: 15px;
}.header-search #showSearchForm {
    display: none;
}.header-search #showSearchForm + label {
  display: block;
  width: 31px;
  height: 32px;
  background-repeat: no-repeat;
  margin-top: auto;
}.header-search input[type="search"] {
    display: none;
    font-size: 16px;
    line-height: 18px;
    color: #4a4a4a;
    border: 1px solid #e1e1e1;
    border-radius: 60px;
    padding-left: 17px;
}.header-search input[type="submit"] {
    display: none;
}.header-address {
  display: none;
  cursor: pointer;
}.header-address__icon {
    display: block;
    width: 23px;
    height: 32px;
    background-repeat: no-repeat;
}.header-address__text {
    font-size: 14px;
    line-height: 17px;
    color: #4a4a4a;
}.header-timework {
  display: none;
}.header-timework__text {
    width: 64px;
    font-size: 13px;
    line-height: 14px;
    color: #4a4a4a;
}.header-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 38px;
  margin-right: 15px;
  cursor: pointer;
}.header-login__icon {
    display: block;
    width: 32px;
    height: 26px;
    background-repeat: no-repeat;
    margin-top: auto;
    margin-bottom: 3px;
}.header-login__text {
    display: none;
    font-size: 14px;
    line-height: 17px;
    color: #4a4a4a;
}.header-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 38px;
  margin-right: 22px;
}.header-cart__icon {
    display: block;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    margin-top: auto;
    position: relative;
    cursor: pointer;
}.header-cart__icon::before {
  content: attr(quantity);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  background: #4a4a4a;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: -10px;
  top: -8px;
}.header-cart__text {
    display: none;
    font-size: 14px;
    line-height: 27px;
    color: #4a4a4a;
}.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 38px;
}.header-menu__catalog #showCatalogMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100vw;
    height: 50px;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 24px;
    background: #f9a61a;
    color: #ffffff;
    position: absolute;
    left: 0;
    bottom: 0;
    cursor: pointer;
  }.header-menu-main {
  margin-top: auto;
}.header-menu-main #showMainMenu {
    display: none;
}.header-menu-main #showMainMenu + label {
  display: block;
  width: 24px;
  height: 20px;
  background-repeat: no-repeat;
  margin-bottom: 5px;
  cursor: pointer;
}.header-menu-main #showMainMenu:checked + label {
  position: absolute;
  z-index: 111;
  top: 34px;
  right: 24px;
  width: 18px;
}.header-menu-main #showMainMenu:checked ~ nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}.header-menu-main nav {
    display: none;
    background: #4a4a4a;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    padding-top: 35px;
    padding-left: 22px;
    padding-right: 22px;
    overflow-y: scroll;
}.header-menu-main__root-menu li + li {
  margin-top: 29px;
}.header-menu-main__root-menu li + .header-callback {
  margin-top: 27px;
}.header-menu-main__root-menu li + .header-select-product {
  margin-top: 28px;
}.header-menu-main__root-menu a {
    color: #f9a61a;
    font-size: 20px;
    line-height: 24px;
}.header-menu-main__root-menu a + .submenu {
  margin-top: 20px;
}.header-menu-main__root-menu .submenu li + li {
  margin-top: 14px;
}.header-menu-main__root-menu .submenu a {
      color: #f9a61a;
      font-size: 16px;
      line-height: 18px;
}.header-menu-main__root-menu .header-callback {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}.header-menu-main__root-menu .header-callback-phone {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 100%;
}.header-menu-main__root-menu .header-callback-phone__icon {
        display: block;
        width: 22px;
        height: 22px;
        background-repeat: no-repeat;
        margin-right: 10px;
}.header-menu-main__root-menu .header-callback-phone__numbers a {
          color: #ffffff;
          font-size: 24px;
          line-height: 29px;
        }.header-menu-main__root-menu .header-callback-button {
      width: 100%;
      font-size: 16px;
      line-height: 14px;
      color: #f9a61a;
      margin-left: 34px;
      margin-top: 8px;
}.header-menu-main__root-menu .header-select-product #showSelectProduct {
      display: none;
    }.header-menu-main__root-menu .header-select-product label {
      display: none;
    }.header-menu-main__root-menu .header-select-product p {
      font-size: 20px;
      line-height: 24px;
      color: #ffffff;
}.header-menu-main__root-menu .header-select-product p + .select {
  margin-top: 21px;
}.header-menu-main__root-menu .header-select-product .select {
      width: 275px;
      height: 50px;
      background: #ffffff;
      border-radius: 60px;
      font-size: 16px;
      line-height: 18px;
      color: #4a4a4a;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding-left: 22px;
      padding-right: 22px;
}.header-menu-main__root-menu .header-select-product .select + input[type="submit"] {
  margin-top: 19px;
}.header-menu-main__root-menu .header-select-product input[type="submit"] {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      border: none;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      text-transform: uppercase;
      width: 141px;
      height: 50px;
      background: #8ccaaa;
      border-radius: 60px;
      font-size: 16px;
      line-height: 18px;
      color: #ffffff;
      padding: 0 26px;
}.header-menu-catalog-body {
  max-height: 0;
  overflow: hidden;
  position: fixed;
  z-index: 100;
  width: 100%;
  left: 0;
  top: 0;
  height: 100vh;
}.header-menu-catalog-body nav {
    height: 100vh;
    background: #ffffff;
}.header-menu-catalog-body__title {
  background: #ededed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
  padding-bottom: 11px;
  padding-left: 23px;
}.header-menu-catalog-body__title p {
    font-size: 20px;
    line-height: 24px;
    color: #4a4a4a;
    text-transform: uppercase;
}.header-menu-catalog-body__title .down {
    display: none;
}.header-menu-catalog-body__title .down.shown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  width: 29px;
  padding-top: 20px;
  padding-bottom: 11px;
  z-index: 2;
}.header-menu-catalog-body__title .down.shown::before {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-position: 50%;
  width: 11px;
  height: 9px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
}.header-menu-catalog-body__title .close {
    width: 66px;
    padding-top: 15px;
    padding-bottom: 11px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
}.header-menu-catalog-body__title .close::before {
  display: block;
  content: "";
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  background-position: 50%;
  z-index: 2;
}.header-menu-catalog-body__root_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #ffffff;
}.header-menu-catalog-body__root_menu > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}.header-menu-catalog-body__root_menu li {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
    padding-top: 12px;
    padding-bottom: 9px;
    padding-left: 22px;
    cursor: pointer;
}.header-menu-catalog-body__root_menu a {
    color: #4a4a4a;
    font-size: 16px;
    line-height: 1.1;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
}.header-menu-catalog-body__root_menu .open {
    position: initial;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}.header-menu-catalog-body__root_menu .open > .header-menu-catalog-body__submenu {
  background: #ffffff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 2;
  position: absolute;
  height: 100%;
  width: 100%;
}.header-menu-catalog-body__root_menu .open > .header-menu-catalog-body__submenu::before {
  display: none;
}.header-menu-catalog-body__root_menu .open > .header-menu-catalog-body__submenu > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}.header-menu-catalog-body__root_menu .open > .header-menu-catalog-body__submenu > li a {
          position: initial;
}.header-menu-catalog-body__submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  margin-left: auto;
  left: 0;
  z-index: 1
}.header-menu-catalog-body__submenu::before {
  width: 11px;
  height: 11px;
  background-repeat: no-repeat;
  background-position: 50%;
  content: "";
  margin-left: auto;
  margin-right: 32px;
  margin-right: 26px;
  margin-top: auto;
  margin-bottom: auto;
}.header-menu-catalog-body__submenu li {
    display: none;
}footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #4a4a4a;
  margin-top: 19px;
  padding-top: 73px;
  padding-bottom: 73px;
  padding-left: 62px;
  padding-right: 34px;
}.footer-info {
  width: 225px;
  margin-left: auto;
  margin-right: auto;
}.footer-info > div {
  margin-top: 52px;
}.footer-info-menu__main a {
      color: #b7b7b7;
      font-size: 21px;
      line-height: 25px;
      text-transform: uppercase
    }.footer-info-menu__main a:hover {
  color: #f9a61a;
}.footer-info-menu__main a + a {}.footer-info-menu__main + .footer-info-menu__additional {
    margin-top: 37px;
  }.footer-info-menu__additional li + li {
  margin-top: 20px;
}.footer-info-menu__additional a {
      color: #b7b7b7;
      font-size: 16px;
      line-height: 18px;
}.footer-info-menu__additional a:hover {
  color: #f9a61a;
}.footer-info-callback {
  position: relative;
}.footer-info-callback__icon {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    left: -42px;
    top: -2px;
    background-position: 50%;
    background-repeat: no-repeat;
  }.footer-info-callback__numbers a {
      font-size: 24px;
      line-height: 27px;
      color: #b7b7b7
    }.footer-info-callback__numbers a:hover {
  color: #f9a61a;
}.footer-info-callback__numbers a + a {}.footer-info-callback__numbers > p {
  font-size: 14px;
  line-height: 17px;
  color: #b7b7b7;
  margin-top: 3px;
}.footer-info-social-network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 52px;
}.footer-info-social-network > p {
  font-size: 21px;
  line-height: 25px;
  color: #b7b7b7;
  text-transform: uppercase;
  width: 100%;
  margin-bottom: 22px;
}.footer-info-social-network__icon {
    display: block;
    width: 40px;
    height: 40px;
    border: 2px solid #b7b7b7;
    border-radius: 50%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-origin: content-box;
    padding-top: 8px;
    padding-bottom: 8px;
}.footer-info-social-network__icon:nth-child(3n+3) {
  margin-left: 15px;
  margin-right: 15px;
}.footer-info-social-network__icon:hover {
  border-color: #f9a61a;
}.footer-info-social-network:hover p {
      color: #f9a61a;
}.footer-info-for-payment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}.footer-info-for-payment > p {
  font-size: 21px;
  line-height: 25px;
  color: #b7b7b7;
  text-transform: uppercase;
  width: 100%;
  margin-bottom: 17px;
}.footer-info-for-payment__icon {
    background-position: 50%;
    background-repeat: no-repeat;
}.footer-info-for-payment__icon:nth-child(3n+3) {
  margin-left: 19px;
  margin-right: 19px;
}.footer-info-for-payment .master-card {
    width: 68px;
    height: 42px;
}.footer-info-for-payment .visa {
    width: 71px;
    height: 22px;
}.footer-creators {
  margin-top: 52px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}.footer-creators__owner p {
    color: #b7b7b7;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
}.footer-creators__company-creator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}.footer-creators__company-creator::before {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 33px;
  width: 111px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}.footer-creators__company-creator p {
    color: #b7b7b7;
    font-size: 16px;
    line-height: 18px;
    margin-left: auto;
    margin-right: auto;
}.footer-creators__company-creator:hover p {
      color: #f9a61a;
}.footer-creators__people-creators {
  margin-top: 30px;
  width: 225px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}.footer-creators__people-creators p, .footer-creators__people-creators a {
    font-size: 14px;
    line-height: 17px;
    color: #9b9b9b;
}.footer-creators__people-creators a:hover {
  color: #f9a61a;
}/**************BEGIN: СЛАЙДЕРЫ ************************/slider.owl-full-slider {
  overflow-x: hidden;
  margin-top: -1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}slider.owl-full-slider + * {
  margin-top: 21px;
}slider.owl-full-slider picture, slider.owl-full-slider .owl-carousel .owl-item img {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}slider.owl-full-slider .owl-nav {
    margin: 0;
}slider.owl-full-slider .owl-nav .owl-next, slider.owl-full-slider .owl-nav .owl-prev, slider.owl-full-slider .owl-nav .owl-next:hover, slider.owl-full-slider .owl-nav .owl-prev:hover {
      margin: 0;
      position: absolute;
      height: 66px;
      width: 63px;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      background-repeat: no-repeat;
      background-position: 50%;
      background-color: transparent;
    }slider.owl-full-slider .owl-nav .owl-next {
      right: 0;
}slider.owl-full-slider .owl-nav .owl-prev {
      left: 0;
}slider.owl-full-slider, slider.owl-full-slider img {
  height: 301px;
}slider.owl-full-slider .owl-dots {
  position: absolute;
  bottom: 15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}slider.owl-full-slider .owl-dots .owl-dot {
    background: white;
    border: 1px solid #979797;
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }slider.owl-full-slider .owl-dots .owl-dot span {
      display: none;
    }slider.owl-full-slider .owl-dots .owl-dot.active {
  background: #f9a61a;
  border-color: #f9a61a;
}slider.owl-full-slider .owl-dots .owl-dot + .owl-dot {
  margin-left: 13px;
}/***************END: СЛАЙДЕРЫ *****************//**************BEGIN: ФОРМЫ ************************//* @import "../components/forms/forms.scss";*//* @import "../components/forms/feedback/feedback.scss";*//***************END: ФОРМЫ *****************//**************BEGIN: КОНТЕНТ ************************/content {
  display: block;
  background: #ffffff;
  padding-top: 45px;
  padding-left: 22px;
  padding-right: 22px;
  padding-bottom: 43px;
}content > h2 {
  font-size: 24px;
  color: #4a4a4a;
  line-height: 29px;
  text-transform: uppercase;
}content > h2 + * {
  margin-top: 23px;
}content > p {
  color: #4a4a4a;
  font-size: 14px;
  line-height: 24px;
}content > p + .classic-button {
  margin-top: 25px;
}content > p + * {}.classic-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  padding: 20px;
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  background: #f9a61a;
  border-radius: 60px;
  border: 1px solid #f9a61a;
  cursor: pointer;
}.content_and_social-network content + #vk_groups {
    margin-top: 21px;
}.content_and_social-network #vk_groups {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: auto !important;
}.content_and_social-network #vk_groups .vk-group-label {
      -webkit-box-ordinal-group: 0;
          -ms-flex-order: -1;
              order: -1;
      width: 100%;
      background-color: #5e81a7;
      color: #ffffff;
      padding: 7px 21px 8px;
      font-size: 12.5px;
      line-height: 15px;
      font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;
      vertical-align: top;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-item-align: start;
          align-self: flex-start;
}.content_and_social-network #vk_groups .vk-group-label::before {
  content: "";
  display: block;
  background-position: 50%;
  background-repeat: no-repeat;
  width: 20px;
  margin-right: 7px;
}block-for-img {
  display: block;
  margin-top: 19px;
}block-for-img img {
    max-width: 100%;
}.block-for-pig {
  background-color: #f9a61a;
  padding-top: 35px;
  padding-left: 23px;
  padding-right: 23px;
}.block-for-pig__title {
    color: #ffffff;
    font-size: 36px;
    line-height: 42px;
}.block-for-pig__title + .block-for-pig__description {
  margin-top: 19px;
}.block-for-pig__description {
    color: #ffffff;
    font-size: 20px;
    line-height: 24px;
    padding-left: 5px;
}.block-for-pig::after {
  content: "";
  display: block;
  background-repeat: no-repeat;
  width: 207px;
  height: 167px;
  margin-left: auto;
  margin-top: 37px;
}item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 21px;
  padding-bottom: 33px;
  border: 1px solid #ffffff;
  background: #ffffff;
  position: relative;
}item .label {
    display: none;
}item .picture {
    width: 140px;
    height: 140px;
    text-align: center;
}item .picture img {
      max-width: 100%;
      max-height: 100%;
}item .picture + .description {
  margin-top: 15px;
}item .description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    padding-left: 13px;
    padding-right: 19px;
    /* align-self: flex-end;*/
}item .title {

    /* word-break: break-all;*/
}item .title span {
      font-size: 16px;
      line-height: 18px;
      color: #000000;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
}item .title + .add-to-compare {
  margin-top: 18px;
}item .add-to-compare {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}item .add-to-compare::before {
  content: "";
  display: block;
  background-repeat: no-repeat;
  min-width: 17px;
  height: 18px;
  margin-right: 3px;
  cursor: pointer;
}item .add-to-compare::after {
  content: "Добавить к сравнению";
  display: block;
  color: #4a4a4a;
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
}item .add-to-compare + .price {
  margin-top: 18px;
}item .price {
    min-width: 99px;
    padding-right: 10px;
}item .price p {
      font-weight: 700;
      color: #000000;
      font-size: 20px;
      line-height: 27px
    }item .price p + .old {
  margin-top: 2px;
}item .price .old {
      font-weight: 400;
      color: #9b9b9b;
      font-size: 14px;
      line-height: 19px;
      text-decoration: line-through;
}item .price + .add-to-cart {
  margin-top: 13px;
}item .add-to-cart {
    text-transform: uppercase;
}items-section {
  position: relative
}items-section + * {
  margin-top: 19px;
}items-section::before {
  content: "";
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
}items-section.best-price::before {
  background: #ef6577;
}items-section.new-products::before {
  background: #8ccaaa;
}items-section.popular-products::before {
  background: #6fb0dc;
}items-section.popular-products .label span {
      text-transform: uppercase;
}items-section > .title {
  font-size: 36px;
  line-height: 42px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 27px;
  padding-bottom: 12px;
}items-section > .title::after {
  content: "";
  display: block;
  background-position: 50%;
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  -webkit-transform: translate(18%, -12%);
      -ms-transform: translate(18%, -12%);
          transform: translate(18%, -12%);
}block-for-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}block-for-items item {
    width: 50%;
    border-bottom: 1px solid #e1e1e1;
}block-for-items item:nth-child(2n+1) {
  border-right: 1px solid #e1e1e1;
}/* @import "../components/content/block-with-img/block-with-img.scss";*//* @import "../components/content/content-with-img/content-with-img.scss";*//* @import "../components/content/block-for-articles/block-for-articles.scss";*//* @import "../components/content/content-page.scss";*//***************END: КОНТЕНТ  *****************//**************BEGIN: ИНОЕ ************************//* @import "../components/select/select.scss";*//***************END: ИНОЕ  *****************/@media (min-width: 449px) {.footer-creators__company-creator::before {
    margin-bottom: 0px;
    margin-right: 16px;
  }
}@media (min-width: 768px) and (max-width: 1023px) {
  .tablet-hide {
    display: none !important;
  }
  block-for-items item:nth-child(n+4) {
    display: none;
  }
}@media (min-width: 768px) {.header__container {
    padding-left: 34px;
    padding-right: 46px;
    padding-bottom: 66px;
    padding-top: 16px;
  }.header__logo {
    width: 119px;
    height: 52px;
  }.header-search {
    height: auto;
    position: relative;
    margin-right: 27px;
  }.header-search #showSearchForm + label {
    display: none;
  }.header-search input[type="search"] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 261px;
    height: 50px;
    margin-top: 2px;
  }.header-search input[type="submit"] {
    display: block;
    background-repeat: no-repeat;
    position: absolute;
    right: 18px;
    top: 14px;
    width: 24px;
    height: 24px;
    font-size: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }.header-address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 17px;
  }.header-address::after {
    content: "";
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    background: #b7b7b7;
    width: 1px;
    height: 34px;
    margin-left: 17px;
  }.header-address__icon {
    min-width: 25px;
    margin-right: 7px;
  }.header-address__text {
    width: 60px;
  }.header-login {
    height: 52px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 13px;
  }.header-login::after {
    content: "";
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    background: #b7b7b7;
    width: 1px;
    height: 34px;
    margin-left: 13px;
  }.header-login__icon {
    height: 32px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 9px;
  }.header-login__text {
    display: block;
  }.header-cart {
    height: auto;
    margin-right: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }.header-cart__icon {
    margin-top: 0;
  }.header-menu {
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    background: #4a4a4a;
  }.header-menu__catalog #showCatalogMenu {
    position: initial;
    width: 220px;
    margin-left: 34px;
    font-size: 18px;
    line-height: 21px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 23px;
    padding-right: 19px;
  }.header-menu__catalog #showCatalogMenu::after {
    content: "";
    display: block;
    width: 15px;
    height: 8px;
    margin-left: auto;
    background-repeat: no-repeat;
    background-position: 50%;
  }.header-menu-main {
    margin-top: 0;
    margin-left: auto;
    margin-right: 41px;
  }.header-menu-main #showMainMenu + label {
    display: none;
  }.header-menu-main nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: none;
    width: auto;
    height: 50px;
    position: initial;
    padding: 0;
    overflow: initial;
  }.header-menu-main__root-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }.header-menu-main__root-menu li + li {
    margin-top: 0;
  }.header-menu-main__root-menu li + .header-callback {
    margin-top: 0;
  }.header-menu-main__root-menu li + .header-select-product {
    margin-top: 0;
  }.header-menu-main__root-menu a {
    font-size: 16px;
    line-height: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }.header-menu-main__root-menu a + .submenu {
    margin-top: 0;
  }.header-menu-main__root-menu .submenu {
    display: none;
  }.header-menu-main__root-menu .header-for-buyer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 13px;
  }.header-menu-main__root-menu .header-for-buyer::after {
    content: "";
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    background: #b7b7b7;
    width: 1px;
    height: 34px;
    margin-left: 12px;
  }.header-menu-main__root-menu .header-point-self-exportation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 14px;
  }.header-menu-main__root-menu .header-point-self-exportation a {
    width: 60px;
  }.header-menu-main__root-menu .header-point-self-exportation::after {
    content: "";
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    background: #b7b7b7;
    width: 1px;
    height: 34px;
    margin-left: 4px;
  }.header-menu-main__root-menu .header-callback {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 14px;
  }.header-menu-main__root-menu .header-callback::after {
    content: "";
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    background: #b7b7b7;
    width: 1px;
    height: 34px;
    margin-left: 15px;
  }.header-menu-main__root-menu .header-callback-phone__icon {
    display: none;
  }.header-menu-main__root-menu .header-callback-phone__numbers a {
    font-size: 18px;
    line-height: 20px;
  }.header-menu-main__root-menu .header-callback-button {
    display: none;
  }.header-menu-main__root-menu .header-select-product label {
    display: block;
    font-size: 16px;
    line-height: 16px;
    color: #f9a61a;
    width: 94px;
    cursor: pointer;
  }.header-menu-main__root-menu .header-select-product .body {
    display: none;
  }footer {
    padding-left: 34px;
    margin-top: 21px;
  }.footer-info {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }.footer-info > div {
    margin-top: 3px;
  }.footer-info__menu {
    width: 33%;
  }.footer-info-wrapper {
    width: 33%;
  }.footer-info-social-network {
    margin-top: 57px;
    margin-left: 2px;
  }.footer-info-for-payment {
    -ms-flex-line-pack: end;
        align-content: end;
    width: 31.5%;
  }.footer-creators {
    margin-left: 0;
    margin-top: 61px;
  }.footer-creators__owner p {
    text-align: left;
  }.footer-creators__people-creators {
    width: auto;
    margin-left: 0;
    text-align: left;
  }slider.owl-full-slider .owl-nav .owl-next {
    right: 22px;
  }slider.owl-full-slider .owl-nav .owl-prev {
    left: 22px;
  }slider.owl-full-slider, slider.owl-full-slider img {
    height: 428px;
  }content {
    padding-left: 33px;
    padding-right: 38px;
    padding-bottom: 46px;
  }content > p + p {
    margin-top: 19px;
  }.content_and_social-network {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: 34px;
    margin-right: 34px;
    position: relative;
  }.content_and_social-network content + #vk_groups {
    margin-top: 0;
    margin-left: 21px;
  }.content_and_social-network #vk_groups {
    min-width: 220px;
  }.content_and_social-network #vk_groups::after {
    content: "";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: -webkit-fill-available;
    background: #ffffff;
    z-index: 1;
    margin-top: -3px;
    border: 1px solid rgba(4, 47, 89, .12);
    border-top: none;
    position: absolute;
    right: 0;
    width: 218px;
    bottom: 0;
    height: calc(100% - 230px);
  }block-for-img {
    margin-left: 34px;
    margin-right: 34px;
  }.block-for-pig {
    position: relative;
    padding-top: 71px;
    padding-left: 41px;
    padding-bottom: 76px;
  }.block-for-pig__title {
    width: 57%;
  }.block-for-pig__description {
    width: 61%;
  }.block-for-pig::after {
    position: absolute;
    right: 39px;
    bottom: 0;
    margin: 0;
  }item {
    padding-bottom: 31px;
  }item .picture {
    width: 215px;
    height: 215px;
  }item .picture + .description {
    margin-top: 11px;
  }item .description {
    height: calc(100% - 215px);
  }item .title {
    height: 60px;
    margin-bottom: 12px;
  }item .title + .add-to-compare {
    margin-top: 0;
  }item .add-to-compare + .price {
    margin-top: 28px;
  }item .price p + .old {
    margin-top: 1px;
  }item .price + .add-to-cart {
    margin-top: 16px;
  }items-section + * {
    margin-top: 21px;
  }items-section::before {
    height: 280px;
  }items-section > .title::after {
    -webkit-transform: translate(54%, -15%);
        -ms-transform: translate(54%, -15%);
            transform: translate(54%, -15%);
  }block-for-items {
    margin-left: 34px;
    margin-right: 34px;
  }block-for-items item {
    width: 33.33%;
    border-top: 1px solid #e1e1e1;
  }block-for-items item:nth-child(2n+1) {
    border-left: 1px solid #e1e1e1;
  }
}@media (min-width: 1024px) and (max-width: 1439px) {
  .desktop-hide {
    display: none !important;
  }
  block-for-items item:nth-child(n+5) {
    display: none;
  }
}@media (min-width: 1024px) {
  html, html.block-html {
    overflow: initial !important;
  }
  .header__container {
    padding-left: 45px;
    padding-right: 42px;
  }
  .header-search {
    margin-right: 23px;
  }
  .header-search input[type="search"] {
    width: 324px;
  }
  .header-search input[type="submit"] {
    right: 15px;
    top: 15px;
  }
  .header-address {
    margin-right: 22px;
  }
  .header-address::after {
    margin-left: 20px;
  }
  .header-timework {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 17px;
  }
  .header-timework::after {
    content: "";
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    background: #b7b7b7;
    width: 1px;
    height: 34px;
    margin-left: 17px;
  }
  .header-login {
    margin-right: 17px;
  }
  .header-cart__icon {
    margin-right: 16px;
  }
  .header-cart__icon::before {
    right: -12px;
  }
  .header-cart__text {
    display: block;
  }
  .header-menu__catalog #showCatalogMenu {
    margin-left: 42px;
    -moz-user-select: none;
    -webkit-user-select: none;
  }
  .header-menu-main {
    margin-right: 87px;
  }
  .header-menu-main__root-menu .header-point-self-exportation {
    margin-right: 19px;
  }
  .header-menu-main__root-menu .header-point-self-exportation a {
    width: auto;
  }
  .header-menu-main__root-menu .header-point-self-exportation::after {
    margin-left: 18px;
  }
  .header-menu-main__root-menu .header-callback {
    margin-right: 30px;
  }
  .header-menu-main__root-menu .header-callback::after {
    margin-left: 20px;
  }
  .header-menu-main__root-menu .header-callback-phone {
    width: auto;
  }
  .header-menu-main__root-menu .header-callback-phone__icon {
    display: block;
    margin-right: 10px;
    height: 28px;
  }
  .header-menu-main__root-menu .header-callback-button {
    display: block;
    margin-left: 15px;
    margin-top: 0;
    width: 54px;
    font-size: 14px;
  }
  .header-menu-catalog-body {
    top: initial;
    padding-left: 41px;
    padding-right: 79px;
    height: auto;
    overflow: initial;
    display: none;
  }
  .header-menu-catalog-body nav {
    position: relative;
    height: auto;
    background: none;
  }
  .header-menu__catalog.active .header-menu-catalog-body {
    display: block;
  }
  .header-menu-catalog-body__title {
    display: none;
  }
  .header-menu-catalog-body__root_menu {
    width: 33.4%;
    border-right: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
  }
  .header-menu-catalog-body__submenu::before {
    margin-right: 12px;
  }
  .header-menu-catalog-body__submenu li {
    background: #ffffff;
  }
  .header-menu-catalog-body__submenu > li:hover .header-menu-catalog-body__submenu {
    right: -100% !important;
    width: 100% !important;
    top: 1px !important;
  }
    .header-menu-catalog-body ul li:hover {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex
    }
    .header-menu-catalog-body ul li:hover > ul + a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 12px;
    color: #f9a61a;
  }
    .header-menu-catalog-body ul li:hover > ul + a::after {
    width: 11px;
    height: 11px;
    background-repeat: no-repeat;
    background-position: 50%;
    content: "";
  }
    .header-menu-catalog-body ul li:hover > ul {
    top: 0 !important;
    width: 33.4%;
    left: 33.4%;
    border-right: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 100%;
    height: auto;
    position: absolute;
    background: #ffffff;
  }
    .header-menu-catalog-body ul li:hover > ul::before {
    display: none;
  }
    .header-menu-catalog-body ul li:hover > ul > li {
    border-bottom: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
    .header-menu-catalog-body ul li:hover > ul > li a {
            width: 100%;
  }
    .header-menu-catalog-body ul li:hover > ul > li:hover > a {
    color: #f9a61a;
  }
    footer {
    padding-left: 41px;
    padding-right: 41px;
  }
    .footer-info > div {
    margin-top: 0;
  }
    .footer-info-social-network {
    margin-top: 55px;
  }
    .footer-info-for-payment {
    width: 23.5%;
  }
    .footer-creators {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 52px;
  }
    .footer-creators__owner {
    width: 36%;
  }
    .footer-creators__company-creator {
    margin: 0;
    width: 37.4%;
  }
    .footer-creators__people-creators {
    margin: 0;
    width: 20.1%;
  }
    slider.owl-full-slider .owl-nav .owl-next {
    right: 40px;
  }
    slider.owl-full-slider .owl-nav .owl-prev {
    left: 40px;
  }
    content {
    padding-right: 60px;
  }
    .content_and_social-network {
    margin-left: 42px;
    margin-right: 42px;
  }
    block-for-img {
    margin-left: 42px;
    margin-right: 42px;
  }
    .block-for-pig {
    padding-top: 78px;
    padding-bottom: 105px;
  }
    .block-for-pig__title {
    width: 70%;
  }
    .block-for-pig__title + .block-for-pig__description {
    margin-top: 21px;
  }
    .block-for-pig::after {
    right: 96px;
  }
    items-section > .title {
    padding-left: 42px;
    padding-right: 42px;
  }
    block-for-items {
    margin-left: 42px;
    margin-right: 43px;
  }
    block-for-items item {
    width: 25%;
  }
}@media (min-width: 1440px) {
  .big-desktop-hide {
    display: none !important;
  }
  .header__container {
    padding-left: 59px;
    padding-right: 55px;
  }
  .header-search {
    margin-right: 40px;
  }
  .header-search input[type="search"] {
    width: 435px;
  }
  .header-search input[type="submit"] {
    right: 19px;
  }
  .header-address {
    margin-right: 40px;
  }
  .header-address::after {
    margin-left: 41px;
  }
  .header-address__text {
    width: auto;
  }
  .header-timework {
    margin-right: 41px;
  }
  .header-timework::after {
    margin-left: 41px;
  }
  .header-timework__text {
    margin-top: 3px;
    width: auto;
  }
  .header-login {
    margin-right: 40px;
  }
  .header-login::after {
    margin-left: 41px;
  }
  .header-menu__catalog #showCatalogMenu {
    margin-left: 58px;
  }
  .header-menu-main {
    margin-right: 55px;
  }
  .header-menu-main__root-menu .header-for-buyer {
    margin-right: 64px;
  }
  .header-menu-main__root-menu .header-for-buyer::after {
    margin-left: 65px;
  }
  .header-menu-main__root-menu .header-point-self-exportation {
    margin-right: 60px;
  }
  .header-menu-main__root-menu .header-point-self-exportation::after {
    margin-left: 64px;
  }
  .header-menu-main__root-menu .header-callback {
    margin-right: 63px;
  }
  .header-menu-main__root-menu .header-callback::after {
    margin-left: 65px;
  }
  .header-menu-main__root-menu .header-callback-phone__icon {
    margin-right: 12px;
  }
  .header-menu-main__root-menu .header-callback-phone__numbers a {
    font-size: 20px;
    line-height: 23px;
  }
  .header-menu-main__root-menu .header-callback-button {
    width: auto;
  }
  .header-menu-main__root-menu .header-select-product label {
    width: auto;
  }
  .header-menu-catalog-body {
    padding-left: 57px;
    padding-right: 55px;
  }
  footer {
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 71px;
  }
  .footer-info__menu {
    width: 40%;
  }
  .footer-info-menu__additional {
    -webkit-column-count: 2;
            column-count: 2;
  }
  .footer-info-wrapper {
    width: 24%;
    margin-left: auto;
  }
  .footer-info-for-payment {
    width: 15.5%;
    margin-right: auto;
  }
  .footer-creators {
    margin-top: 60px;
  }
  .footer-creators__company-creator {
    width: 36%;
  }
  .footer-creators__people-creators {
    text-align: right;
  }
  slider.owl-full-slider .owl-nav .owl-next, slider.owl-full-slider .owl-nav .owl-prev, slider.owl-full-slider .owl-nav .owl-next:hover, slider.owl-full-slider .owl-nav .owl-prev:hover {
    top: 35.5%;
  }
  slider.owl-full-slider .owl-nav .owl-next {
    right: 54px;
  }
  slider.owl-full-slider .owl-nav .owl-prev {
    left: 54px;
  }
  slider.owl-full-slider, slider.owl-full-slider img {
    height: 601px;
  }
  content {
    padding-top: 43px;
    padding-bottom: 74px;
    padding-right: 80px;
  }
  .content_and_social-network {
    margin-left: 56px;
    margin-right: 56px;
  }
  .content_and_social-network content + #vk_groups {
    margin-left: 15px;
  }
  .content_and_social-network #vk_groups {
    min-width: 250px;
  }
  .content_and_social-network #vk_groups::after {
    width: 248px;
  }
  block-for-img {
    margin-left: 56px;
    margin-right: 56px;
  }
  .block-for-pig__title + .block-for-pig__description {
    margin-top: 24px;
  }
  .block-for-pig__description {
    width: 40%;
  }
  item .label {
    position: absolute;
    left: 6px;
    top: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 90px;
    width: 90px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 24px;
  }
  item .label span {
        font-size: 16px;
        line-height: 18px;
        color: #ffffff;
        display: block;
        width: 65px;
        z-index: 1;
  }
  item .label::before {
    content: "";
    background-repeat: no-repeat;
    background-position: 50%;
    width: 90px;
    height: 90px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
  item .title {
    margin-bottom: -9px;
  }
  items-section > .title {
    padding-left: 56px;
    padding-right: 56px;
  }
  block-for-items {
    margin-left: 56px;
    margin-right: 55px;
    overflow: hidden;
    height: 424px;/*opacity: 0;
 */
  }
  block-for-items item {
    min-width: 265.8px;
    width: 265.8px;
  }
}@media (max-width: 767px) {
  .mobile-hide {
    display: none !important;
  }
  block-for-items item:nth-child(n+5) {
    display: none;
  }
}@media (max-width: 1023px) {.header-menu-catalog-body nav {
    overflow-y: auto;
    padding-bottom: 50px;
  }.header-menu-catalog-body__root_menu .open > a {
    font-size: 14px;
    line-height: 17px;
    background: #ededed;
    padding-top: 15px;
    padding-bottom: 11px;
    padding-left: 23px;
    padding-right: 55px;
    position: absolute;
    left: 12px;
    top: 0;
    z-index: 1;
  }
}@media (max-width: 1439px) {block-for-items {
    height: auto !important;
  }
}
