mixin product-characteristics()
  product-characteristics-table(name="product-characteristics-table")
    h2 технические характеристики
    product-characteristics-block
      product-characteristic
        description Диапазон измерения давления
        value 20-280 мм рт. ст.
      product-characteristic
        description Масса
        value 354г (включая батареи)
      product-characteristic
        description Точность измерения пульса
        value ±5% считанного значения
      product-characteristic
        description Диапазон измерения пульса
        value 40-200 ударов в минуту
      product-characteristic
        description Индикация давления в манжете
        value 0-299 ударов в мин
      product-characteristic
        description Размеры
        value 160 x 80 x 32 мм
      product-characteristic
        description Статистическая точность
        value давление в пределах ± 3 мм. рт. ст.
      product-characteristic
        description Минимальный шаг индикации
        value  1 мм рт.ст.			
      product-characteristic
        description Источник питания
        value 4 х 1,5 В, батареи типа ААА. Блок питания постоянного тока
    .product-characteristics__button
      a(href="#product-characteristics-table").classic-button.show-more.tablet-hide.desktop-hide.big-desktop-hide Показать всё